* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Navbar styles */

nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0px 5px 15px rgb(240, 240, 240);  
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-logo {
    padding-left: 26px;
}

.nav-links a {
    text-decoration: none;
    color: rgb(75, 75, 75);
    font-weight: 600;
    font-size: 17px;
    padding: 22px;
}

.nav-links a:hover {
    transition: 0.2s;
    color: #3180ff;
}

.nav-icons {
    width: 320px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.fa-magnifying-glass, .fa-cart-shopping {
    color: rgb(75, 75, 75);
    font-size: 20px;
}

.fa-magnifying-glass:hover, .fa-cart-shopping:hover {
    cursor: pointer;
    transition: 0.2s;
    color: #3180ff;
}

.nav-icons button {
    padding: 12px 26px;
    background-color: #0062ff;
    color: white;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    font-size: 14px;
}

.nav-icons button:hover {
    background-color: #3180ff;
    cursor: pointer;
    transition: 0.2s;
}

/* Navbar complete */

/* section 1 styles */

.sec-1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sec1-cnt {
    margin-top: 65px;
}

.sec1-cnt h1{
    color: #171717;
    font-size: 60px;
    padding: 80px;
}

.sec1-cnt span {
    color: #ee4962;
}

.sec1-cnt p {
    color: #171717;
    font-size: 20px;
    margin: 18px 0 30px;
}

.sec1-cnt button {
    padding: 14px 26px;
    background-color: #0062ff;
    color: white;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    font-size: 14px;
}

.sec1-cnt button:hover {
    background-color: #3180ff;
    cursor: pointer;
    transition: 0.2s;
}

.sec1-imgs {
    padding: 20px;
}

.img-1 {
    margin-right: 22px;
    margin-top: -60px;
    border-top-right-radius: 75px;
    border-bottom-left-radius: 120px;
}

.img-2 {
    margin-bottom: -160px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 100px;
}

/* Section 1 complete */

/* Section 2 styles */

.sec-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
}

.sec2-cnt {
    text-align: center;
}

.sub {
    color: #ee4962;
    font-size: 15px;
    margin: 0px 0px 30px;
    font-weight: 600;
}

.sec2-cnt h2 {
    color: #171717;
    font-size: 45px;
    margin: 100px;
}

.sec2-cnt h2 span {
    color: #0062ff;
}

.text {
    color: #485e74;
    font-size: 16px;
    margin: 15px 0px 40px;
}

.sec2-carts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 80px;
}

.cart {
    width: 265px;
    /* height: 380px; */
    padding: 50px 30px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    /* gap: 20px; */
}

.cart div {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 48.875px 25px;
}

.cart-1 div {
    background-color: #1ab79d1a;
}

.cart-2 div {
    background-color: #ff6b6b1a;
}

.cart-3 div {
    background-color: #3180ff1a;
}

.cart-4 div {
    background-color: #ffb8001a;
}

.cart h3>a {
    color: #171717;
    font-size: 23px;
    font-weight: 500;
    text-decoration: none;
}

.cart p {
    color: #171717;
    margin: 15px 0px 25px;
    font-size: 16px;
    line-height: 1.55;
}

.cart span {
    font-size: 16px;
    margin: 0px 33.75px;
    padding: 2px 18px;
    border-radius: 5px;
    font-weight: bold;
}

.cart-1 span {
    background-color: #1ab79d1a;
    color: #1ab79d;
}

.cart-2 span {
    background-color: #ff6b6b1a;
    color: #ff6b6b;
}

.cart-3 span {
    background-color: #3180ff1a;
    color: #3180ff;
}

.cart-4 span {
    background-color: #ffb8001a;
    color: #ffb800;
}

.cart-1 {
    background-color: #1ab79d1a;
}

.cart-2 {
    background-color: #ff6b6b1a;
}

.cart-3 {
    background-color: #3180ff1a;
}

.cart-4 {
    background-color: #ffb8001a;
}

/* Section 2 complete */

/* Section 3 styles */

.sec-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: -85px;
}

.sec3-imgs {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.sec3-img1 {
    border-radius: 8px;
}

.sec3-cnt {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about {
    color: #808080;
    font-size: 15px;
    margin-bottom: 0px 0px 30px;
    font-weight: 600;
}

.sec3-cnt h2 {
    color: #171717;
    font-size: 45px;
    padding: 80px;
    text-align: center;
}

.sec3-cnt h2 span {
    color: #ee4962;
}

.sec3-cnt p {
    color: #808080;
    font-size: 16px;
    margin: 15px 0px 25px;
    line-height: 1.55;
    text-align: center;
}

.sec3-cnt ul li {
    color: #171717;
    font-size: 17px;
    list-style-type: none;
    margin-top: 20px;
    padding-left: 0;
    
}

.sec3-cnt ul li::before {
    content: "✔ ";
    color: rgb(253, 198, 0);
}

/* Section 3 complete */

/* Section 4 styles */

.sec-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
    background-color: #F5F1EB;
}

.sec4-cnt {
    text-align: center;
}

.sec4-cnt p {
    color: #808080;
    font-size: 15px;
    font-weight: 600;
    margin: 5px 0px 30px;
}

.sec4-cnt h2 {
    color: #171717;
    font-size: 32px;
    margin: 0px 0px 40px;
    padding: 80px;
}

.sec4-carts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.cart-cnt {
    padding: 10px;
    margin-top: -4px;
    width: 350px;
    height: 150px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 8px;
}

.cart-cnt span {
    background-color: #1ab79d1a;
    color: #0062ff;
    font-size: 17px;
    padding: 2px 10px;
    border-radius: 3px;
}

.cart-cnt h3>a {
    color: #171717;
    font-size: 23px;
    font-weight: 500;
    text-decoration: none;
    margin: 10px 0px 8px;

}

.cart-cnt button {
    padding: 13px 24px;
    cursor: pointer;
    margin: 14px 104.375px;
    background-color: #0062ff;
    color: white;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    font-size: 14px;
}

.cart-cnt button:hover {
    background-color: #3180ff;
    transition: 0.2s;
}

.sec4-btn {
    padding: 14px 26px;
    margin: 50px 0px 30px;
    background-color: #0062ff;
    color: white;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}

.sec4-btn:hover {
    background-color: #3180ff;
    transition: 0.2s;
}

/* Section 4 complete */

/* Section 5 styles */

.sec-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    gap: 300px;
}

.sec5-img1 {
    background-image: url("./Assets/asset\ 14.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 200px;  
    text-align: center;
}

.sec5-cnt {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-align: center;
}

.sec5-cnt div h3 {
    font-size: 45px;
}

.sec5-cnt div p {
    color: #171717;
    font-size: 16px;
}

.sec5-cart1 {
    width: 250px;
    height: 140px;
    color: #1ab79d;
    background-color: #1ab79d1a;
    padding: 40px 30px;
    border-radius: 10px;
}

.sec5-cart2 {
    width: 250px;
    height: 140px;
    color: #ee4962;
    background-color: #ee49621a;
    padding: 40px 30px;
    border-radius: 10px;
}

.sec5-cart3 {
    width: 250px;
    height: 140px;
    color: #8f57ff;
    background-color: #8f57ff1a;
    padding: 40px 30px;
    border-radius: 10px;
}

.sec5-cart4 {
    width: 250px;
    height: 140px;
    color: #f8b720;
    background-color: #f8b7201a;
    padding: 40px 30px;
    border-radius: 10px;
}

/* Section 5 complete */

/* Section 6 styles */

.sec-6 {
    width: 1150px;
    height: 880px;
    margin: 80px 0px;
    padding: 50px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.080);
}

.sec6-cnt {
    text-align: center;
    margin: 0px 0px 40px;
}

.sec6-cnt h2 {
    color: #185a9d;
    font-size: 28px;
    margin: 0px 0px 15px;
}

.sec6-cnt p {
    color: #555555;
    font-size: 15.5px;
    margin: 0px 152.5px;
    letter-spacing: 0.5px;
    line-height: 25px;
}

.form-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.form-cnt {
    width: 480px;
    height: 600px;
    padding: 30px 40px;
    background-color: #f7faff;
    border-left: 6px solid rgba(0, 0, 231, 0.718);
    border-radius: 15px;
}

.form-cnt h3 {
    color: #185a9d;
    font-size: 16px;
    margin: 0px 0px 15px;
}

.form-cnt p {
    color: #444444;
    font-size: 16px;
    margin: 0px 0px 15px;
    letter-spacing: 0.3px;
    line-height: 23px;
}

.form-cnt div {
    margin: 20px 0px 0px;
    letter-spacing: 0.5px;
}

strong {
    color: #808080;
}

strong i {
    margin-right: 15px;
    color: rgba(0, 0, 231, 0.854);
    font-size: 13px;
}

.form {
    width: 480px;
    height: 600px;
    padding: 30px 40px;
    background-color: #f9fbfd;
    border-left: 6px solid rgba(0, 204, 146, 0.864);
    border-radius: 15px;
}

.form h3 {
    color: #185a9d;
    font-size: 16px;
    margin: 0px 0px 20px;
}

.form label {
    color: #333333;
    font-size: 16px;
    margin: 0px 0px 6px;
    line-height: 28px;
}

.form input {
    width: 100%;
    padding: 10px 14px;
    background-color: transparent;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 8px;
}

.form textarea {
    width: 100%;
    height: 82px;
    padding: 10px 14px;
    margin: 0px 0px 15px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 8px;
}

.form button {
    padding: 12px 26px;
    background-color: #00cc8b;
    color: white;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    font-size: 12px;
    cursor: pointer;
}

.form button:hover {
    background-color: #00d289;
    transition: 0.2s;
}

/* Section 6 complete */

/* Footer styles */

footer {
    width: 100%;
    height: 380px;
    background-color: #24262b;
    color: white;
}

.footer-cnt {
    width: 1000px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 60px 0px;
}

.list h4 {
    font-size: 20px;
    margin: 0px 0px 35px;
    border-bottom: 2px solid rgb(211, 0, 84);
    line-height: 50px;
}

.list ul li {
    list-style-type: none;
    color: #bbbbbb;
    font-size: 16px;
    margin-bottom: 20px;
    letter-spacing: 0.5px;
}

.list-icons ul a>i {
    color: #bbbbbb;
    font-size: 30px;
    margin-right: 15px;
}