* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Navbar styles */

nav {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0px 5px 15px rgb(240, 240, 240);  
}

.nav-logo {
    padding-left: 26px;
}

.nav-links a {
    text-decoration: none;
    color: rgb(75, 75, 75);
    font-weight: 600;
    font-size: 17px;
    padding: 22px;
}

.nav-links a:hover {
    transition: 0.2s;
    color: #3180ff;
}

.nav-icons {
    width: 320px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.fa-magnifying-glass, .fa-cart-shopping {
    color: rgb(75, 75, 75);
    font-size: 20px;
}

.fa-magnifying-glass:hover, .fa-cart-shopping:hover {
    cursor: pointer;
    transition: 0.2s;
    color: #3180ff;
}

.nav-icons button {
    padding: 12px 26px;
    background-color: #0062ff;
    color: white;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    font-size: 14px;
}

.nav-icons button:hover {
    background-color: #3180ff;
    cursor: pointer;
    transition: 0.2s;
}

/* Navbar complete */

/* section 1 styles */

.sec-1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sec1-cnt {
    margin-top: 65px;
}

.sec1-cnt h1{
    color: #171717;
    font-size: 60px;
    padding: 80px;
}

.sec1-cnt span {
    color: #ee4962;
}

.sec1-cnt p {
    color: #171717;
    font-size: 20px;
    margin: 18px 0 30px;
}

.sec1-cnt button {
    padding: 14px 26px;
    background-color: #0062ff;
    color: white;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    font-size: 14px;
}

.sec1-cnt button:hover {
    background-color: #3180ff;
    cursor: pointer;
    transition: 0.2s;
}

.sec1-imgs {
    padding: 20px;
}

.img-1 {
    margin-right: 22px;
    margin-top: -60px;
    border-top-right-radius: 75px;
    border-bottom-left-radius: 120px;
}

.img-2 {
    margin-bottom: -160px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 100px;
}

/* Section 1 complete */

/* Section 2 styles */

.sec-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
}

.sec2-cnt {
    text-align: center;
}

.sub {
    color: #ee4962;
    font-size: 15px;
    margin: 0px 0px 30px;
    font-weight: 600;
}

.sec2-cnt h2 {
    color: #171717;
    font-size: 45px;
    margin: 100px;
}

.sec2-cnt h2 span {
    color: #0062ff;
}

.text {
    color: #485e74;
    font-size: 16px;
    margin: 15px 0px 40px;
}

.sec2-carts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 80px;
}

.cart {
    width: 265px;
    /* height: 380px; */
    padding: 50px 30px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    /* gap: 20px; */
}

.cart div {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 48.875px 25px;
}

.cart-1 div {
    background-color: #1ab79d1a;
}

.cart-2 div {
    background-color: #ff6b6b1a;
}

.cart-3 div {
    background-color: #3180ff1a;
}

.cart-4 div {
    background-color: #ffb8001a;
}

.cart h3>a {
    color: #171717;
    font-size: 23px;
    font-weight: 500;
    text-decoration: none;
}

.cart p {
    color: #171717;
    margin: 15px 0px 25px;
    font-size: 16px;
    line-height: 1.55;
}

.cart span {
    font-size: 16px;
    margin: 0px 33.75px;
    padding: 2px 18px;
    border-radius: 5px;
    font-weight: bold;
}

.cart-1 span {
    background-color: #1ab79d1a;
    color: #1ab79d;
}

.cart-2 span {
    background-color: #ff6b6b1a;
    color: #ff6b6b;
}

.cart-3 span {
    background-color: #3180ff1a;
    color: #3180ff;
}

.cart-4 span {
    background-color: #ffb8001a;
    color: #ffb800;
}

.cart-1 {
    background-color: #1ab79d1a;
}

.cart-2 {
    background-color: #ff6b6b1a;
}

.cart-3 {
    background-color: #3180ff1a;
}

.cart-4 {
    background-color: #ffb8001a;
}

/* Section 2 complete */

/* Section 3 styles */

.sec-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.sec3-imgs {
    padding: 20px;
}

.img-1 {
    border-radius: 8px;
}

.img-2 {
    margin-top: -160px;
    border-radius: 8px;
}

.sec3-cnt {
    margin-left: 80px;
    
}